@import '_mixins';
@import '_variables';
@import '_desktop.scss';
@import '_responsive';

* {
  font-family: 'Montserrat', sans-serif;
}

.header {
  width: 100%;
  display: flex;
  padding: 2% 0 0 8%;
  .hamburger-menu {
    display: none;
  }
  & nav {
    width: 65%;
    margin: 1% 0 0 38%;
    & ul {
      display: flex;
      list-style: none;
      & li {
        font-size: 14px;
        margin-right: 8%;
        & a {
          font-weight: 500;
          text-decoration: none;
          color: #000000;
          transition: 0.5s;
          &:hover {
            text-decoration: none;
            background-color: #D83838E2;
            color: #ffffff;
            border-radius: 3px;
          }
        }
      }
    }
  }
  & svg {
    width: 5%;
    height: 22px;
  }
  .logo {
    width: 15%;
    height: 65px;
  }
  .menu {
    display: flex;
    justify-content: flex-end;
    &__telephone {
      display: block;
      & a {
        display: inline-flex;
        width: 47%;
        font-size: 14px;
        font-weight: 500;
        color: #000000;
        border-bottom: 1px solid #D83838;
        &:hover {
          text-decoration: none;
          color: #D83838;
        }
      }
      &_line {
        margin-left: 27%;
        & svg {
          width: 12%;
          height: 30px;
        }
      }
    }
  }
}

.main {
  width: 100%;
  .page {
    padding: 2% 5% 0 10%;
    & h2 {
      font-weight: 700;
      font-size: 64px;
      text-transform: uppercase;
      & span {
        color: #D83838;
      }
    }
    & h3 {
      font-weight: 500;
      font-size: 22px;
      margin-top: 3%;
    }
    &__line {
      display: flex;
      margin: 5% 0;
      & a {
        width: 18%;
        display: flex;
        font-size: 16px;
        font-weight: 500;
        color: #ffffff;
        background-color: #D83838;
        align-items: center;
        justify-content: center;
        &:hover {
          text-decoration: none;
          background-color: #FAF5F5D5;
          color: #D83838;
          border: 2px solid #000000;
        }
      }
      & p {
        font-weight: 500;
        font-size: 14px;
        margin: 0.5% 0 0 2%;
      }
      &_inf {
        margin: 8% 8% 0 0;
        text-align: center;
        & h1 {
          font-weight: 700;
          font-size: 96px;
          border-bottom: 2px solid #6E6969AD;
        }
      }
    }
    & svg {
      position: absolute;
      width: 65%;
      top: 20%;
      left: 35%;
      height: 580px;
    }
  }
  .work {
    padding: 0 5% 0 10%;
    &__line {
      display: flex;
      & h2 {
        font-weight: 700;
        font-size: 48px;
        text-transform: uppercase;
        margin-top: 8%;
        & span {
          color: #D83838;
        }
      }
      &_text {
        display: flex;
        &_corners {
          width: 17%;
          height: 30px;
        }
        & p {
          font-weight: 400;
          font-size: 22px;
        }
      }
      &_circles {
        width: 95%;
        height: 450px;
      }
    }
    & h1 {
      font-weight: 700;
      font-size: 225px;
      text-transform: uppercase;
      color: #0000000D;
    }
    &__arrow {
      width: 2%;
      margin: -17% 0 0 47%;
    }
  }
  .labor {
    padding: 0 5% 3% 10%;
    &__line {
      display: flex;
      & h1 {
        width: 80%;
        font-weight: 700;
        font-size: 48px;
        text-transform: uppercase;
        & span {
          color: #D83838;
        }
      }
      &_corners {
        width: 12%;
        height: 75px;
        margin-right: 3%;
      }
      &_dissertation {
        &_candidate {
          display: flex;
          border: 2px solid #D83838;
          padding: 3% 0 3% 5%;
          margin-top: 5%;
          &_left {
            width: 55%;
            & h2 {
              font-weight: 700;
              font-size: 28px;
              text-transform: uppercase;
            }
            &_line {
              display: flex;
              margin-top: 10%;
              & h3 {
                font-size: 24px;
                font-weight: 700;
              }
              & h5 {
                font-size: 16px;
                font-weight: 400;
                text-align: center;
                color: #00000099;
                margin-top: -7%;
              }
              & a {
                height: 50px;
                display: flex;
                font-size: 16px;
                font-weight: 500;
                color: #ffffff;
                background-color: #D83838;
                align-items: center;
                justify-content: center;
                margin: 1% 0 0 5%;
                padding: 0 4%;
                &:hover {
                  text-decoration: none;
                  background-color: #FAF5F5D5;
                  color: #D83838;
                  border: 2px solid #000000;
                }
              }
            }
          }
          &_right {
            width: 35%;
            & h4 {
              font-size: 18px;
              font-weight: 700;
              & p {
                font-weight: 400;
                font-size: 18px;
              }
            }
            &_list {
              width: 10%;
              height: 15px;
            }
          }
        }
        &_addt {
          display: flex;
          border: 2px solid #D83838;
          background-color: #D83838;
          color: #ffffff;
          padding: 3% 0 3% 5%;
          margin-top: 5%;
          &_left {
            width: 55%;
            & h2 {
              font-weight: 700;
              font-size: 28px;
              text-transform: uppercase;
              & svg {
                width: 12%;
                height: 75px;
              }
            }
            &_line {
              display: flex;
              margin-top: 5%;
              & h3 {
                font-size: 24px;
                font-weight: 700;
              }
              & a {
                height: 50px;
                display: flex;
                font-size: 16px;
                font-weight: 500;
                color: #D83838;
                background-color: #ffffff;
                align-items: center;
                justify-content: center;
                margin: 0% 0 0 5%;
                padding: 0 4%;
                &:hover {
                  text-decoration: none;
                  background-color: #B2ABABD5;
                  color: #D83838;
                  border: 2px solid #000000;
                }
              }
            }
          }
          &_right {
            width: 35%;
            margin-top: 6%;
            & p {
              font-weight: 400;
              font-size: 18px;
            }
            &_list {
              width: 10%;
              height: 15px;
            }
          }
        }
      }
      &_phd {
        margin-left: 5%;
      }
    }
  }
  .choice {
    width: 100%;
    padding: 3% 0 3% 0;
    & h1 {
      font-weight: 700;
      font-size: 48px;
      text-transform: uppercase;
      margin-left: 10%;
      & span {
        color: #D83838;
      }
    }
    &__line {
      display: flex;
      & svg {
        width: 50%;
        height: 460px;
      }
      &_number {
        width: 80%;
        margin-top: 5%;
        & p {
          font-size: 18px;
          font-weight: 400;
          margin-top: 7%;
        }
        &_line {
          display: flex;
          &_first {
            width: 50%;
            height: 125px;
            background-image: url("../img/first.svg");
            background-repeat: no-repeat;
            margin-bottom: 5%;
          }
          &_second {
            width: 50%;
            height: 125px;
            background-image: url("../img/second.svg");
            background-repeat: no-repeat;
            margin-bottom: 5%;
          }
          &_third {
            width: 45%;
            height: 112px;
            background-image: url("../img/third.svg");
            background-repeat: no-repeat;
            margin: 0 5% 0 14%;
          }
          &_fourth {
            width: 43%;
            height: 112px;
            background-image: url("../img/fourth.svg");
            background-repeat: no-repeat;
          }
        }
      }
    }
  }
  .specialty {
    width: 100%;
    padding: 2% 0;
    & h1 {
      width: 80%;
      font-weight: 700;
      font-size: 35px;
      text-transform: uppercase;
      margin-left: 10%;
      & span {
        color: #D83838;
      }
    }
    & p {
      font-size: 22px;
      font-weight: 400;
    }
    &__line {
      width: 100%;
      display: flex;
      border-bottom: 1px solid #000000;
      padding-bottom: 1%;
      margin-top: 2%;
      & svg {
        width: 5%;
        height: 35px;
        margin: 0 1% 0 10%;
      }
      & p {
        width: 30%;
      }
    }
    &__block {
      width: 100%;
      border-bottom: 1px solid #000000;
      padding: 1.5% 3% 1% 0;
      & p {
        margin-left: 10%;
      }
      &:hover {
        background-color: #D83838;
        color: #ffffff;
        transition: 0.5s;
      }
    }
  }
  .topic {
    width: 100%;
    padding: 4% 0 2% 10%;
    & h1 {
      font-weight: 700;
      font-size: 35px;
      & span {
        color: #D83838;
      }
    }
    & p {
      font-size: 22px;
      font-weight: 500;
    }
    &__line {
      display: flex;
      margin-top: 1%;
      &_circles {
        width: 5%;
        height: 35px;
        margin-right: 1%;
      }
      & p {
        width: 30%;
      }
      &_block {
        width: 28%;
        text-align: center;
        margin-top: 2%;
        & svg {
          width: 25%;
        }
        & p {
          width: 100%;
          text-align: center;
        }
      }
    }
    & form {
      width: 87%;
      background-color: #313131;
      display: flex;
      padding: 2% 1%;
      margin-top: 2%;
      & input {
        width: 26%;
        margin-right: 2%;
      }
      & a {
        width: 17%;
        display: flex;
        background-color: #D83838;
        font-size: 16px;
        font-weight: 500;
        color: #ffffff;
        padding: 1%;
        &:hover {
          text-decoration: none;
          background-color: #f8f2f2;
          color: #D83838;
        }
      }
    }
  }
  .order {
    display: flex;
    padding: 0 0 0 10%;
    &__left {
      margin-top: 7%;
      & h1 {
        font-weight: 700;
        font-size: 35px;
        text-transform: uppercase;
      }
      & span {
        color: #D83838;
      }
      &_line {
        display: flex;
        margin: 3% 0;
        & svg {
          width: 5%;
          height: 35px;
          margin-right: 1%;
        }
        & p {
          width: 50%;
          font-size: 22px;
          font-weight: 500;
        }
      }
      & h5 {
        width: 80%;
        font-weight: 500;
        font-size: 18px;
      }
    }
    & img {
      margin-right: 3%;
    }
  }
  .task {
    display: flex;
    background-color: #D83838;
    color: #ffffff;
    padding-right: 10%;
    & svg {
      width: 100%;
      height: 400px;
    }
    &__right {
      margin-top: 8%;
      & h3 {
        font-size: 22px;
        font-weight: 700;
        text-transform: uppercase;
      }
      & h4 {
        font-size: 22px;
        font-weight: 500;
        margin-top: 10%;
      }
    }
  }
  .saving {
    width: 100%;
    padding: 5% 10%;
    & h1 {
      width: 60%;
      font-weight: 700;
      font-size: 35px;
      text-transform: uppercase;
      & span {
        color: #D83838;
      }
    }
    &__line {
      display: flex;
      & svg {
        width: 5%;
        height: 35px;
        margin-right: 1%;
      }
      & h4 {
        width: 70%;
        font-size: 22px;
        font-weight: 500;
      }
      &_first {
        width: 55%;
        height: 200px;
        background-image: url("../img/bg_first.svg");
        & p {
          width: 70%;
          font-size: 22px;
          font-weight: 500;
          margin: 10% 0 0 8%;
        }
      }
      &_second {
        width: 55%;
        height: 200px;
        background-image: url("../img/bg_second.svg");
        & p {
          width: 70%;
          font-size: 22px;
          font-weight: 500;
          margin: 10% 0 0 8%;
        }
      }
      &_third {
        width: 55%;
        height: 200px;
        background-image: url("../img/bg_third.svg");
        & p {
          width: 70%;
          font-size: 22px;
          font-weight: 500;
          margin: 10% 0 0 8%;
        }
      }
      &_fourth {
        width: 55%;
        height: 200px;
        background-image: url("../img/bg_fourth.svg");
        & p {
          width: 70%;
          font-size: 22px;
          font-weight: 500;
          margin: 10% 0 0 8%;
        }
      }
    }
  }
  .connection {
    width: 100%;
    padding: 2% 10% 5% 10%;
    &__help {
      background-color: #313131;
      display: flex;
      padding: 4% 8% 4% 3%;
      &_left {
        width: 95%;
        & h1 {
          font-weight: 700;
          font-size: 42px;
          text-transform: uppercase;
          color: #ffffff;
          &  span {
            color: #D83838;
          }
        }
        & p {
          font-size: 24px;
          font-weight: 400;
          color: #ffffff;
          & span {
            font-weight: 700;
            text-transform: uppercase;
            color: #D83838;
          }
        }
      }
      & form {
        margin: 5% 0 0 5%;
        & input {
          width: 100%;
          padding: 4%;
          margin-bottom: 7%;
        }
        & a {
          display: flex;
          background-color: #D83838;
          font-size: 16px;
          font-weight: 500;
          justify-content: center;
          color: #ffffff;
          padding: 5%;
          &:hover {
            text-decoration: none;
            background-color: #f8f2f2;
            color: #D83838;
          }
        }
      }
    }
  }
}
