<div class="modal fade first" id="advice" tabindex="-1" aria-labelledby="advice" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <button data-bs-dismiss="modal" aria-label="close"><svg>
        <use xlink:href="./img/sprite.svg#exit"></use>
      </svg></button>
      <h1>Замовити консультацію</h1>
      <h3>Передзвонимо, проконсультуємо <br> з усіх питань</h3>
      <form>
        <p class='name_error'>Введіть ім'я</p>
        <input class="name field" type="text" required placeholder="Ваше ім'я">
        <p class="phone_error">Введіть телефон</p>
        <input class="telephone field" type="text" required placeholder="Ваш телефон">
        <button type="button" onclick="sendFormFirst(); event.preventDefault()">Жду дзвінка</button>
      </form>
      <p>Натискаючи кнопку, ви погоджуєтесь на обробку <br> персональних даних</p>
    </div>
  </div>
</div>
