<header class="header">
  <svg class="logo">
    <use xlink:href="./img/sprite.svg#logo_black"></use>
  </svg>
  <div class="menu">
    <div class="hamburger-menu">
      <input id="menu__toggle" type="checkbox" onclick="menuBtn()" />
      <label class="menu__btn" for="menu__toggle">
        <span></span>
      </label>
      <ul class="menu__box">
        <li><a class="menu__item" href="#">Послуги</a></li>
        <li><a class="menu__item" href="#">Портфоліо</a></li>
        <li><a class="menu__item" href="#">Чому ми</a></li>
      </ul>
    </div>
    <nav>
      <ul>
        <li><a href="#">Послуги</a></li>
        <li><a href="#">Портфоліо</a></li>
        <li><a href="#">Чому ми</a></li>
      </ul>
    </nav>
    <svg>
      <use xlink:href="./img/sprite.svg#telephone"></use>
    </svg>
    <div class="menu__telephone">
      <a href="tel:+380(96)8834789">+380 (96) 883 47 89</a><br>
      <a href="tel:+380(63)1035218">+380 (63) 103 52 18</a>
      <div class="menu__telephone_line">
        <svg>
          <use xlink:href="./img/sprite.svg#telegram"></use>
        </svg>
        <svg>
          <use xlink:href="./img/sprite.svg#viber"></use>
        </svg>
      </div>
    </div>
  </div>
</header>
