<div class="modal fade third" id="advices" tabindex="-1" aria-labelledby="advices" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <button data-bs-dismiss="modal" aria-label="close" onclick="window.location.reload()"><svg>
        <use xlink:href="./img/sprite.svg#exit"></use>
      </svg></button>
      <h1>Вашу заявку відправлено</h1>
      <h3>Очікуйте дзвінка менеджера протягом 15 хвилин</h3>
      <p>Робочий час з 10:00 до 19:00</p>
    </div>
  </div>
</div>
